.tab-menu {
  background-color: #212529;
  height: 100vh;
  color: white;
}

.react-tabs__tab:focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-tab:focus {
  outline: none !important;
  box-shadow: none !important;
}
