.restaurant-name {
    font-weight: bold;
    color: #dc3545; /* text-danger */
    font-size: 1.3rem;
  }
  
  .restaurant-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #6c757d; /* text-muted */
    font-size: 0.95rem;
  }
  
  .restaurant-hours {
    display: inline-block;
    background-color: #f8f9fa; /* bg-light */
    padding: 4px 12px;
    border-radius: 999px; /* rounded-pill */
    border: 1px solid #dc3545;
    color: #dc3545;
    font-size: 0.85rem;
    font-weight: 500;
  }
  
  .restaurant-list-container{
    min-height: 77vh;
}